<div class="card" style="width:100%;"  *ngIf="IsLoaded &&MyFruitObj ">
    <img class="card-img-top" src="{{MyFruitObj['imgUrl']}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{MyFruitObj.Name}}</h5>



      <form #ProductData="ngForm" (ngSubmit)="SaveProduct(ProductData.value)">

          <div class="form-group">
          <label for="Id">ID</label>
          <input type="number"  readonly class="form-control" name="Id" [(ngModel)]="MyFruitObj.Id"/>
          </div>


          <div class="form-group">
          <label for="Name">Name</label>
          <input type="text" class="form-control" name="Name"  [(ngModel)]="MyFruitObj.Name"/>
          </div>

          <div class="form-group">
          <label for="Price">Price</label>
          <input type="number" class="form-control" name="Price" [(ngModel)]="MyFruitObj.Price"/>
          </div>

          <div class="form-group">
          <label for="Quantity">Quantity</label>
          <input type="number" class="form-control" name="Quantity" [(ngModel)]="MyFruitObj.Quantity"/>
          </div>

          <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" class="form-control" name="Description" [(ngModel)]="MyFruitObj.Description"/>
          </div>
    

          <input type="submit"  class="btn btn-primary" value="Save">
          
          
          
          </form> 



    </div>
  
    <div class="card-body">
      <button (click)="DeleteButton(MyFruitObj.Id)" class="card-link btn btn-danger">Delete</button>
    </div>
  </div>


  <!--
  <div *ngIf="!IsLoaded">
    <h1>This Product is not found </h1>
  </div>
-->